<HTMl>
        <head>
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title>Tickets</title>
        </head>
        <body class="bg-dark">

            <div class="container col-4 py-3">
                <div class="card">
                    <h5 class="card-header text-center">Terminar la compra</h5>
                    <div class="card-body">
                        <h5 class="card-title text-center">Ticket N°: {{key}}</h5>
                        <p class="card-text text-muted text-center">Costo final <p class="card-text text-center"><b>$ {{precio}}</b></p></p>
                   
                        <div class="text-center">
                            <a href="/" class="btn btn-success py-2">Terminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </HTMl>