<HTMl>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Peliculas</title>
    </head>
    <body class="bg-dark">
        
      <!--Titulo Principal-->
      <div class="container">
        <div class="text-center py-3 mt-3">
          <h1 class="display-4 text-white font-italic" style="font-family:-apple-system"><b>Evento: "Maraton de Cine"</b></h1>
        </div>
      </div>
        
      <!--Ultimos Estrenos-->
      <div class="container-fluid">
        <h2 class=" display-5 text-white font-italic" style="font-family:-apple-system">Ultimos estrenos</h2>
      </div>
            
      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/robinHood.jpg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h2 class="card-title text-center py-3">Robin Hood</h2>
                <p class="card-text">Cuando el joven Robin Hood (Taron Egerton) regresa a su hogar, endurecido, tras luchar como guerrero en Las Cruzadas, descubre un reino en el que la corrupción es la moneda de cambio de la corona inglesa. En ese momento, junto a su compañero Little John (Jamie Foxx), toma la decisión de formar una banda de bandidos y liderar una audaz rebelión en la que se enfrentarán al malvado Sheriff de Nottingham (Ben Mendelsohn).</p>
                <p><b>Genero:</b> Acción, Aventuras, estrenos, Thriller</p>
                <p><b>Actores:</b> Taron Egerton, Jamie Foxx, Ben Mendelsohn, Eve Hewson, Jamie Dornan, Tim Minchin</p>
                <p><b>Fecha de lanzamiento:</b> 2018-11-20</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/tombRaider.jpg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h2 class="card-title text-center py-3">Tomb Raider</h2>
                <p class="card-text">Lara Croft (Alicia Vikander) es una joven e inexperta arqueóloga que se embarcará en su primera aventura para terminar la investigación arqueológica iniciada por su padre, y descubrir así antiguos secretos con el fin de limpiar el deshonrado nombre de su progenitor. Esta expedición llena de peligros será una lucha por la supervivencia, con nuevas pruebas y nuevos enemigos, en la que Croft, poco a poco, se irá convirtiendo en la heroína que todos conocemos. La historia de una mujer corriente que descubre su carácter de luchadora al verse obligada a poner a prueba sus habilidades de lucha con el único propósito de salir con vida.</p>
                <p class="card-text"><b>Genero:</b> Acción, Aventuras</p>
                <p class="card-text"><b>Actores:</b> Alicia Vikander, Walton Goggins, Dominic West, Daniel Wu, Kristin Scott Thomas, Hannah John-Kamen</p>
                <p class="card-text"><b>Fecha de lanzamiento:</b> 2018-03-05</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/elJusticiero.jpg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h2 class="card-title text-center py-3">El Justiciero</h2>
                <p class="card-text">Robert McCall (Denzel Washington) garantiza una justicia inquebrantable para los explotados y oprimidos, pero ¿cuánto de lejos llegará cuando se trate de alguien a quien ama? Secuela de The Equalizer (El protector) (2014).</p>
                <p class="card-text"><b>Genero:</b> Acción, estrenos, Thriller</p>
                <p class="card-text"><b>Actores:</b> Denzel Washington, Pedro Pascal, Ashton Sanders, Orson Bean, Bill Pullman, Melissa Leo</p>
                <p class="card-text"><b>Fecha de lanzamiento:</b> 2018-07-19</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/jurassicWorld.jpg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h2 class="card-title text-center py-3">Jurasic World</h2>
                <p class="card-text">Tras cuatro años de abandono del complejo turístico Jurassic World, la isla Nublar solo está habitada por los dinosaurios supervivientes, pero el volcán inactivo de la isla comienza a cobrar vida, Owen y Claire montan una campaña para rescatar a los dinosaurios restantes en la isla.</p>
                <p class="card-text"><b>Genero:</b> Acción, Aventuras, Ciencia Ficcion</p>
                <p class="card-text"><b>Actores:</b> Chris Pratt, Bryce Dallas Howard, Rafe Spall, Justice Smith, Daniella Pineda, James Cromwell</p>
                <p class="card-text"><b>Fecha de lanzamiento:</b> 2018-06-06</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
            </div>
          </div>
          </div>
        </div>
      </div>
      
      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/misionImposible.jpg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h3 class="card-title text-center py-3">Mision Imposible</h3>
                <p class="card-text">Un traficante de armas y un grupo de terroristas pretenden realizar un triple ataque nuclear con tres artefactos de plutonio, los cuales se pierden. Ethan Hunt y su equipo tendrán que recuperarlos antes de que caigan en las manos equivocadas.</p>
                <p class="card-text"><b>Genero:</b> Acción, Aventuras, estrenos, Thriller</p>
                <p class="card-text"><b>Actores:</b> Tom Cruise, Henry Cavill, Ving Rhames, Simon Pegg, Rebecca Ferguson, Sean Harris</p>
                <p class="card-text"><b>Fecha de lanzamiento:</b> 2018-07-13</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <!--Lo Mas Votado-->  
      <div class="container-fluid font-italic">
        <h2 class=" display-5 text-white" style="font-family:-apple-system">Lo mas votado</h2>
      </div>  

      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/rambo.jpeg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h3 class="card-title text-center py-3">John Rambo</h3>
                <p class="card-text">John Rambo, el ex-boina verde con una ajetreada vida marcada por la guerra, vive ahora una solitaria y apacible existencia en la jungla del norte de Tailandia, pescando y cazando cobras para luego venderlas. Todo cambia cuando un grupo de misioneros católicos necesita que les guíe hasta la frontera con Birmania para suministrar medicinas y alimentos a unos refugiados asediados por el ejército birmano, que ha hecho de las torturas y los asesinatos algo habitual. Rambo no tendrá más remedio que volver a involucrarse. Se verá obligado a hacer lo que mejor sabe, porque a pesar suyo lleva la guerra en la sangre.</p>
                <p class="card-text"><b>Genero:</b> Acción</p>
                <p class="card-text"><b>Actores:</b> Sylvester Stallone, Julie Benz, Matthew Marsden, Reynaldo Gallegos, Jake La Botz, Tim Kang</p>
                <p class="card-text"><b>Fecha de lanzamiento:</b> 2008-01-24</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/geoTormenta.jpg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h3 class="card-title text-center py-3">Geo Tormenta</h3>
                <p class="card-text">¿Qué pasaría si después de una década de devastadores fenómenos climaticos, finalmente se descubriera la forma de controlar a la madre naturaleza y la destrucción que causa? Cuando el catastrófico cambio climático amenaza la supervivencia de la vida en la Tierra, los gobiernos se unen para crear el Project Dutch Boy: una red global de satélites que rodean el planeta armados con tecnología de geoingeniería diseñada para evitar los desastres naturales. Después de haber protegido al planeta durante dos años, algo comienza a salir mal.</p>
                <p class="card-text"><b>Genero:</b> Acción, Ciencia Ficcion, Thriller</p>
                <p class="card-text"><b>Actores:</b> Gerard Butler, Alexandra Maria Lara, Jim Sturgess, Abbie Cornish, Ed Harris, Andy García</p>
                <p class="card-text"><b>Fecha de lanzamiento:</b> 2017-10-13</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
       
      <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="/static/indestructibles.jpg" alt="foto" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h3 class="card-title text-center py-3">Los Indestructibles</h3>
                <p class="card-text">un grupo de mercenarios que asume una misión para derrocar a un dictador en América del Sur. Tan pronto como inician la misión, esos hombres se dan cuenta de que las cosas no son lo que parecen y se ven atrapados en una peligrosa red de engaño y traición. Con la misión frustrada y una vida inocente en peligro, los hombres van a vérselas con un desafío incluso mayor, el que amenaza con destruir esta banda de camaradas cuyo lazo los hace sentirse como hermanos.</p>
                <p class="card-text"><b>Genero:</b> Acción, Aventuras, Thriller</p>
                <p class="card-text"><b>Actores:</b> Sylvester Stallone, Jason Statham, Mickey Rourke, Jet Li, Bruce Willis, Arnold Schwarzenegger, Curtis Jackson, Eric Roberts, Dolph Lundgren, Randy Couture, Terry Crews, Steve Austin</p>
                <p class="card-text"><b>Fecha de lanzamiento:</b> 2010-07-02</p>
                <a href="/tickets" class="btn btn-danger">Entradas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </body>
</HTMl>